.deleteAccount {
    background-color: rgba(0, 0, 0, 0.368);
    @apply fixed top-0 bottom-0 left-0 right-0 flex items-start justify-center z-50
}

.deleteAccount .form {
    color: #404553;
    max-width: 90%;
    @apply bg-white p-4  rounded-md mt-28
}

.deleteAccount .form .header {
    @apply flex justify-between pb-2 mb-4 border-b
}

.deleteAccount .form .header span {
    @apply font-bold text-lg
}
    
.deleteAccount .form .alert span {
    @apply block rounded-md bg-red-600 text-white p-2 my-4 w-full
}

.deleteAccount .form .input {
    @apply flex flex-col gap-2 mb-4
}

.deleteAccount .form label {
    @apply text-sm font-semibold
}

.deleteAccount .form .input input {
    @apply px-3 py-2 border focus:outline-none rounded-md bg-img
}

.deleteAccount .form .input span {
    @apply text-sm text-red-700
}

.deleteAccount .form button {
    @apply px-7 py-3 border w-full my-5 rounded-md hover:bg-red-600 hover:text-white
}