.swiperSlide {
  @apply flex items-center justify-center rounded-md;
}

.swiper-container .swiper-button-next,
.swiper-container .swiper-button-prev {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 50%;
  box-sizing: border-box;
  @apply hover:scale-105 hover:shadow-md w-9 h-9 md:w-12 md:h-12;
}

.swiper-container .swiper-button-prev::after {
  font-size: 16px;
  color: white;
}

.swiper-container .swiper-button-next::after {
  font-size: 16px;
  color: white;
}
