@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar {
  @apply h-20 flex items-center relative gap-3;
}

.navbar ul li {
  position: relative;
  @apply capitalize ;
}

.navLeft {
  @apply flex gap-2 items-center ;
}
.navLeft ul li  {
  @apply text-gray-600 hover:text-black dark:text-darkSText dark:hover:text-darkPText ;
}

.searchBar {
  @apply relative flex-1 flex items-center gap-1;
}

.navRight {
  @apply flex gap-2 items-center;
}

.ul-item {
  @apply hidden lg:flex items-center gap-4 p-2;
}

.center {
  @apply font-bold text-xl;
}

.count {
  background-color: dodgerblue;
  @apply flex justify-center items-center absolute rounded-full w-4 h-4 -top-1 left-3 text-sm p-2 select-none text-white font-bold;
}

.searchBarInput {
  @apply border p-2 flex-1 focus:outline-none rounded-md bg-transparent;
}

.showSearchBar {
  display: block;
}
.showSearchBar input:-webkit-autofill,
.showSearchBar input:-webkit-autofill:hover,
.showSearchBar input:-webkit-autofill:focus
 {
  border: 1px solid #494969;
  -webkit-text-fill-color: transparent;
  transition: transparent 5000s ease-in-out 0s;
}

.storeHeader .profileImage {
  @apply relative;
}
.storeHeader .profileImage::after {
  bottom: 0;
  right: 3px;
  width: 8px;
  height: 8px;
  outline: 2px solid white;
  /* z-index: 500; */
  background-color: #44b700;
  content: "";
  position: absolute;
  animation: jss400 1.2s infinite ease-in-out;
  border-radius: 50%;
}
